@{
}

<p>Add contact</p>
<form method="post">
	<label>Nom</label>
	<input type="text" plcaholder="Hugo"/>
	<label>Prénom</label>
	<input type="text" plcaholder="Victor" />
	<button type="submit">Envoyer</button>
</form>